#user-board,
#computer-board {
  display: inline-block;
  margin: 20px;
}

.playground{
  display: flex;
  justify-content: space-around;
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.cell.ship {
  background-color: lightgray;
}

.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: black;
}

#fleet-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.ship-item.selected {
  border: 2px solid blue;
  background-color: #e0f0ff;
}